<div class="card" style="width: 24rem; height: 26rem;">
  <img src="https://imgs.search.brave.com/4V6LrLQI9Ulero1jRTMNjOKvCZ0nd3xUDdBy3cm-7gM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9j/b21wdXRlci1wcm9n/cmFtLWNvZGluZy1z/Y3JlZW5fNTM4NzYt/MTM4MDYwLmpwZz9z/aXplPTYyNiZleHQ9/anBn" class="card-img-top" >
  <div class="card-body">
    <img src="https://imgs.search.brave.com/uBKtsqJt34xZ5rwcSc3iPvb3Eg_too5KHxImIRqe-ZY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by91/c2VyLXByb2ZpbGUt/ZnJvbnQtc2lkZV8x/ODcyOTktMzk1OTUu/anBnP3NpemU9NjI2/JmV4dD1qcGc" style="border-radius: 50%; width: 25px; height: 25px; margin-right: 10px; margin-bottom: 5px;"> <span>Prof. Rahul Sir</span>
    <p class="card-text">Python Programming Course</p>
    <a href="https://www.youtube.com/watch?v=I76FkrBPVO0&t=97s" class="full-width-button card-link" style="font-weight: bold;">View Course</a>
  </div>
</div>